body {
  background-color: #080e15;
  color: white;
  width: 100%;
}

header {
  background-color:#242e3e;
  color: #ffffff;
}

header .container-fluid {
  /* margin-top: 0; */
}

.container-full-width {
  width: 100%;  /* Is this necessary? */
}

.header {
  /* margin: 16px 0; */
}

#header-left {
  height: 100%;
}

#header-left p {
  margin: 0;
  font-size: 1.2em;
}

#clock {
  height: 100%;
}

h3 {
  margin: 8px 0 0 0;
}

#header-right {
  height: 100%;  /* Is this necessary? */
}

@font-face {
  font-family: "My Custom Font";
  src: url(alarm_clock.ttf) format("truetype");
}

/* #header-right p {
  color: #337ed2;
  font-size: 4.5em;
  font-family: "My Custom Font", Verdana, Tahoma;
} */

/* #timer {
  height: 100%;
  margin: 0;
} */

#logo {
  width: 100%;
  filter: invert(100%);
}

.container-fluid {
  /* margin-top: 12px; */
}

/* TODO: also check for async as fast reloading will not show proper timer size and plcaement */

.sm-gutters>.col, .sm-gutters>[class*=col-] {
  padding-left: 6px;
  padding-right: 6px;
}

table {
  background-color: #171f29;
  color: #aaccff;
}

#table-header {
  background-color: #1f2638;
}

.table {
  color: #fff;
  /* margin: 0; */
}

.col-3 .row {
  height: 100%;
}

#timer-container {
  background-color: #1f2638;
  height: 50%;
}

#timer-container p {
  color: #337ed2;
  font-size: 4.5em;
  font-family: "My Custom Font", Verdana, Tahoma;
}

#timer {
  height: 100%;
  margin: 0;
}

#chart-container-1 {
  position: relative;
  height: 50%;
  /* padding-top: 12px; */
  padding-left: 0;
  padding-right: 0;
  /* padding-bottom: 16px; */
  padding-bottom: 8px;
}

canvas {
  background-color: #171b26;
  border: solid 1px #363c4e;
}

#myChart1 {
  /* margin-bottom: 12px; */
}

footer p {
  padding-left: 12px;
  padding-right: 12px;
}
